</main>
</div>
</div> 
</div>


<script>
    $(`.open-btn`).on(`click`, function(){
            $(`.sidebar`).addClass(`active`);
        });
    $(`.close-btn`).on(`click`, function(){
            $(`.sidebar`).removeClass(`active`);
        })
</script>
</body>
</html>