#side_nav{
    background: #000;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.4s;
}

.content{
    min-height: 100vh;
    width: 100%;
}

hr.h-color{
    background: #eee;
}






.sidebar-link{
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon{
    display: inline-flex;
    transition: all ease 0.25s;

}

.sidebar-link[aria-expanded="true"] .right-icon{
    transform: rotate(180deg);
}

body{
    background-color: #F5F5F5;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
  }

@media(max-width: 767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
}